@keyframes glowSpread {
    0% {
      transform: rotate(0deg) scale(1);
      opacity: 0.5;
      filter: blur(10);
    }
    25% {
      transform: rotate(25deg) scale(1.2);
      opacity: 0.75;
      filter: blur(70);
    }
    50% {
      transform: rotate(60deg) scale(1.4);
      opacity: 1;
      filter: blur(140);
    }
    75% {
      transform: rotate(25deg) scale(1.2);
      opacity: 0.75;
      filter: blur(70);
    }
    100% {
      transform: rotate(0deg) scale(1);
      opacity: 0.5;
      filter: blur(10);
    }
  }
  
  .animate-glow-spread {
    animation: glowSpread 10s ease-in-out infinite;
  }
  